@import "../../../../styles/variables.scss";

.header {
    //background: linear-gradient(45deg, #7f1ae5, #e41ae5); //это по идее должно быть когда скролишь ниже
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 92px;
    line-height: 24px;
    padding: 15px 0;
    text-align: left;
    text-size-adjust: 100%;
    font-family: "Monsterrat", sans-serif;
    z-index: 1;
}

.scrolled{
    background: linear-gradient(45deg, #7f1ae5, #e41ae5);
  }

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: $max-width;
    height: 92px;
    margin: 0 auto;
    padding: 0 50px;
    font-weight: 400;
    color: rgb(156, 147, 135);
}

.pull-left {
    float: left;
    display: block
}

.logo {
    vertical-align: middle;
    // border-style: none;
}

.scrolltop {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    text-decoration-thickness: auto;
    text-decoration-line: none;
    text-decoration-style: solid;

    & .logo-text {
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        font-family: "Open Sans", sans-serif;
        letter-spacing: 3px;
        text-decoration-color: rgb(225, 223, 220);
        text-size-adjust: 100%;
        text-transform: none;
        color: rgb(225, 223, 220);
    }
}

.nav-menu-container {
    display: flex;
    align-items: center;
    margin: 0px;
    text-align: left;
    text-size-adjust: 100%;
    color: rgb(156, 147, 135);
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin: 0px;
    padding: 40px;
    height: 92px;
    padding-inline-start: 30px;
    text-align: left;
    text-size-adjust: 100%;
    touch-action: pan-y;
}

.nav-menu-children {
    margin: 0;
    padding: 5px;
    text-align: -webkit-match-parent;
    font-family: "Monsterrat", sans-serif;
}

.header-link {
    display: flex;
    align-items: center;
    height: 31px;
    margin: 0px;
    padding: 0px 8px 10px 8px;
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    font-family: "Monsterrat", sans-serif;
    white-space: nowrap;
    color: rgb(225, 223, 220);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-size-adjust: 100%;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    text-decoration: none;
}


.nav-menu-children:hover {
    background-color: rgba(190, 194, 255, 0.5);
    outline: none;
    text-decoration: none;
}

.account {
    font-size: 14px;
    padding-bottom: 10px;
    line-height: 21px;
    color: #FFFFFF;
    font-weight: 500;
}

.metamask {
    display: block;
    width: 35px;
    height: 33px;
    cursor: pointer;
}