@import './fonts.scss';

*, ::after, ::before, body {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  appearance: none;
  border: none;
  background: none;
  box-shadow: none;
}