.news {
    color: rgb(225, 223, 220);
    background-image: initial;
    background-color: rgba(44, 0, 44, 0.2);
    box-shadow: rgb(85 0 85) 0px 0px 20px;
    text-align: left;
    margin-top: 30px;
    background: rgba(80, 0, 80, 0.2);
    border-radius: 10px;
    padding: 20px;
}

.news-header {
    border-bottom-color: rgb(87, 14, 87);
    font-weight: bold;
    border-bottom: 1px dotted plum;
    margin-bottom: 5px;
}