.main-content {
    padding-top: 100px;
    width: 100%;
    padding-right: 80px;
    padding-left: 80px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1300px;
}

.main-logo {
    display: flex;
}

.links {
    color: lightskyblue;
    text-decoration: none;
    background-color: transparent;

}

.links:hover {
    cursor: pointer;
    text-decoration: underline;
}

.pgc-version {
    color: white;
    padding-left: 20px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px black;
}

.col-auto {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.text-left {
    text-align: left
}

.main-section p {
    margin-bottom: 0
}

.pgc-caption {
    color: white;
    font-weight: bold;
    text-shadow: 4px 4px 5px black;
    font-size: 48px
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
}

.logo-binance {
    width: 122px;
    height: 34px;
}

.news {
    color: rgb(225, 223, 220);
    background-image: initial;
    background-color: rgba(44, 0, 44, 0.2);
    box-shadow: rgb(85, 0, 85) 0px 0px 20px;
    text-align: left;
    margin-top: 30px;
    background: rgba(80, 0, 80, 0.2);
    border-radius: 10px;
    padding: 20px;
    line-height: 30px;
}
.news:last-child {
    margin-bottom: 50px;
}

.roadmap-img {
    width: 100%;
    margin: 15px 0;
}


.news-header {
    border-bottom-color: rgb(87, 14, 87);
    font-weight: bold;
    border-bottom: 1px dotted plum;
    margin-bottom: 10px;
}

.second-news-block {
    line-height: 25px;
}

.news-text {
    margin-top: -10px;
    margin-bottom: 10px;
}

.news-date {
    font-weight: bold;
    font-size: 12px;
}